.menu-toggle {
    display: none; /* Hidden by default */
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.navbar {
    padding: 28px 0;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar ul li {
    padding: 0 15px;
}

.navbar ul li a {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--color-green2);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Show on smaller screens */
    }

    .navbar ul {
        display: none; /* Hide navigation links by default */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on header height */
        left: 0;
        width: 100%;
        background-color: var(--color-cynical); /* Same as body background */
        padding: 20px 0;
        text-align: center;
        z-index: 1000;
    }

    .navbar ul.active {
        display: flex; /* Show when active */
        
    }

    .navbar ul li {
        margin: 10px 0;
    }
}
